  <div class="container-fluid">
    <div class="row contact-btn-row">
      <div class="col-lg-6">
        <a href="tel:+27 82 22 47 316">
          <div class="contact-btn h-100 text-center text-white-50">
            <i class="fa fa-phone fa-2x"></i>
          </div>
          
        </a>
      </div>
      <div class="col-lg-6">
        <a href="mailto:andre@alrayvenelectrical.co.za">
          <div class="contact-btn h-100 text-center text-white-50">
            <i class="fa fa-envelope fa-2x"></i>
          </div>
        </a>
      </div>
    </div>
  </div>