{% extends 'index.twig' %}

{% block head %}

{% endblock head %}

{% block body %}

    <h3>Purpose of this Policy</h3>

    <p>This Acceptable Use Policy (“AUP” or “Policy”) describes actions by Users that are prohibited by SecondSite and its affiliates and subsidiaries (“SecondSite”). “Users” means any user or Customer of any and all SecondSite provided services (“Service” and/or “Services”) that are provided by SecondSite pursuant to any applicable customer agreement, including, without limitation, any applicable terms of service and/or supplements to any applicable agreement(s) (which Users must accept as a condition to receiving any Services from SecondSite).</p>

    <p>In addition to our Terms of Service Policy and Acceptable Use Policy, you are bound by the terms of the <a rel="nofollow" href="www.gov.za/documents/electronic-communications-and-transactions-act">Electronic Communications and Transactions Act 25 of 2002.</a>

    <p>This Acceptable Use Policy is subject to change from time to time with such changes effective upon posting at www.SecondSite.co.za. SecondSite encourages Users to review this Policy regularly.</p>

    <p> Services may be used only for lawful, proper and appropriate purposes.</p>

    <p>Users must use any Services only in a manner that, in SecondSite’s sole discretion, is consistent with the purposes of such Services.  Users will not engage in any legal or illegal activity that either (i) harms SecondSite, the network operated by SecondSite, the Services and/or any User, or (ii) interferes with the network operated by SecondSite and/or the provision or use of the Services by SecondSite or any User.</p>

    <p>Services may not be used for illegal, improper, and/or inappropriate purposes.</p>

    <h4>Illegal purposes include, but are not limited to:</h4>

    <p>using any Service to violate any law, rule, or regulation; or engaging in threatening, abusive, harassing, defamatory, libelous, deceptive or fraudulent behavior.</p>

    <p>Improper and/or inappropriate uses include, but are not limited to:</p>

    <p>posting content similar in content to any newsgroups, listservs, forums, e-mail mailing lists or other similar groups or lists;</p>

    <p>calling, messaging, storing, posting or transmitting harassing, threatening or abusive materials, e-mail or information;</p>

    <p>posting or transmitting any information or software that contains a virus, worm, spyware, malware, trojan, cancelbot or other harmful component;</p>

    <p>without permission from the owner of a system or network, doing any of the following: (a) accessing the system or network, (b) monitoring data or traffic, (c) probing, scanning, and/or testing firewalls, (d) testing the vulnerability of a system or network or (e) breaching the security or authentication routines of a system or network;</p>

    <p>relaying e-mail in an anonymous fashion or forging any TCP-IP packet header;</p>

    <p>mailbombing, flooding, overloading, attacking or otherwise interfering with a system or network;</p>

    <p>sending unsolicited calls, messaging, e-mailings (including, without limitation, commercial advertising and informational announcements) if such unsolicited activities could reasonably be expected to or do in fact provoke complaints;</p>

    <p>operating a server in connection with the Services in an “open relay” configuration (a configuration whereby a mail server processes email messages where neither the sender nor the recipient is a local user);</p>

    <p>falsifying User or other identifying information provided to SecondSite or to other Users of the Services;</p>

    <p>use of any Services in violation or any trademark, copyright, or any other intellectual property protection law or provision, or AUP policy of any third party provider;</p>

    <p>use of any Services for the purposes of engaging in an activity in connection or conjunction with any pornographic and/or adult entertainment industry purpose, regardless of whether such activity is lawfully permitted;</p>

    <p>auto-dialing or predictive-dialing (sometimes referred to as “robo-dialing”);</p>

    <p>continuous or extensive chat line or conference call participation,</p>

    <p>use of free conference calling or similar services that SecondSite in its sole discretion deems to participate in traffic stimulation practices or schemes that result in excessive charges;</p>

    <p>use of our services as an open telephone line as a monitoring, intercom or similar service;</p>

    <p>repetitive and/or continuous messaging or calling to the same destination or number if such activity could reasonably be expected to or in fact does provoke complaints;</p>

    <p>long duration calls (defined as calls to the same number in excess of four continuous or cumulative hours within a 24 hour period) and/or calls placed to specific numbers / destinations for the purpose of generating charges or fees for or with a third party;</p>

    <p>use of call Services which do not consist of uninterrupted live human voice dialog by and between natural human beings;</p>

    <p>restricting or inhibiting any other User or any other person from using and enjoying the Services and/or the Internet; or</p>

    <p>engaging in any of the foregoing activities by using the services of another provider or third party and channeling such activities through an account provided by SecondSite, or otherwise involving the Services or any SecondSite account in any way with or without another provider or third party for the purpose of facilitating the foregoing activities.</p>

    <h4>Remedies:</h4>

    <p>SecondSite reserves the right, at its sole discretion, to determine if a Service is being used for any of the foregoing purposes or activities.</p>

    <p>Violation of this Policy may result in civil or criminal liability, and SecondSite in its sole discretion, in addition to any remedy that it may have at law or in equity, may immediately terminate permission for the User to use the Services, or any portion of the Services, and may charge User any applicable rates and cancellation or termination fees. In addition, SecondSite may investigate incidents that are contrary to this Policy and provide requested information to third parties who have provided notice to SecondSite stating that they have been harmed by a User's failure to abide by this Policy or the policies listed above.  SecondSite may bring legal action to enjoin violations and/or collect damages caused by any violation of any part of this Policy.</p>

    <p>Any violations or attempted violations of this Policy by any User (or any third party on behalf of any User) will constitute a violation of this Policy by the User and a material breach of any applicable customer agreement, including, without limitation, any applicable terms of service and/or supplements to any applicable agreement(s).</p>

    <p>SecondSite's failure to enforce this policy in every instance in which it might have application does not amount to a waiver of SecondSite's rights.</p>

    <p>IN NO EVENT WILL SecondSite BE LIABLE TO ANY USER OR THIRD PARTY FOR ANY DIRECT, INDIRECT, PUNITIVE, SPECIAL, CONSEQUENTIAL OR OTHER DAMAGES FOR ACTIONS TAKEN OR NOT TAKEN PURSUANT TO THIS POLICY, INCLUDING, WITHOUT LIMITATION, ANY LOST PROFITS, BUSINESS INTERRUPTION, LOSS OF PROGRAMS OR DATA, OR OTHERWISE, EVEN IF SecondSite WAS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  THIS LIMITATION OF LIABILITY IN FAVOR OF SecondSite IS IN ADDITION TO ANY LIMITATIONS SET FORTH IN ANY WRITTEN AGREEMENT BETWEEN SecondSite AND ANY APPLICABLE USER AND WILL APPLY WHETHER THE ACTION IN WHICH RECOVERY IS SOUGHT IS BASED IN CONTRACT OR TORT (INCLUDING, WITHOUT LIMITATION, NEGLIGENCE OR STRICT LIABILITY), OR ANY APPLICABLE LAWS.</p>

    <h4>Customer Agreements:</h4>

    <p>Nothing in this Policy will limit or be deemed a waiver of any rights or protections of SecondSite pursuant to any written agreement between SecondSite and any applicable User.  This Policy will be read in connection with any such written agreement and not in conflict with any such agreement.  This Policy, in connection with any such agreement, supersedes any other oral or written representations or agreements made by SecondSite and/or its representatives regarding the Services.</p>

    <p>If any provision of this Policy is held to be invalid or unenforceable, the validity and enforceability of the remaining provisions of this Policy will not be affected thereby.</p>

    <h5>Last updated on: 22.10.2017</h5>

    <a href="mailto:abuse@secondsite.co.za">Click here to report an AUP Concern</a>
        <br />
{% endblock body %}

{% block scripts %}{% endblock scripts %}