{% extends 'index.twig' %}

{% block head %}{% endblock head %}

{% block body %}
    <div class="container-fluid">
        <div class="text-center p-2 mt-3">
            <h3>Web Hosting for Africa</h3>
            <p>Solid | Reliable | Powerful</p>
            <p class="lead">We offer world class hosting solutions for your website.</p>

            <div class="hr-divider mt-2">
                <div class="hr-line"></div>
                <div class="hr-icon"><i class="fa fa-chevron-down"></i></div>
                <div class="hr-line"></div>
            </div>
        </div>
    </div>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-responsive-lg table-hover table-striped text-black-50 border shadow-sm">
                    <tbody>
                        <tr>
                            <td><i class="fa fa-asterisk text-danger mr-3"></i>99.9% Uptime</td>
                            <td><i class="fa fa-asterisk text-danger mr-3"></i>Fast SSD Drives</td>
                            <td><i class="fa fa-asterisk text-danger mr-3"></i>No Contracts</td>
                            <td><i class="fa fa-asterisk text-danger mr-3"></i>Best Rates</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-asterisk text-danger mr-3"></i>cPanel/WHM</td>
                            <td><i class="fa fa-asterisk text-danger mr-3"></i>Linux OS</td>
                            <td><i class="fa fa-asterisk text-danger mr-3"></i>Constant Monitoring</td>
                            <td><i class="fa fa-asterisk text-danger mr-3"></i>24/7 Support</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-asterisk text-danger mr-3"></i>Migration Assistance</td>
                            <td><i class="fa fa-asterisk text-danger mr-3"></i>Softaculous App Installer</td>
                            <td><i class="fa fa-asterisk text-danger mr-3"></i>Webmail</td>
                            <td><i class="fa fa-asterisk text-danger mr-3"></i>Spam and Virus Protection</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-asterisk text-danger mr-3"></i>PHP & MySql</td>
                            <td><i class="fa fa-asterisk text-danger mr-3"></i>User-Friendly Interface</td>
                            <td><i class="fa fa-asterisk text-danger mr-3"></i>Website Migration Service</td>
                            <td><i class="fa fa-asterisk text-danger mr-3"></i>SSL and Dedicated IP's available</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="hr-divider mt-2">
            <div class="hr-line"></div>
            <div class="hr-icon"><i class="fa fa-chevron-down"></i></div>
            <div class="hr-line"></div>
        </div>
    </div>
    <div class="container mb-5 bg-white text-black-50">
        <div class="hosting-table">
            <div class="row shadow-sm">
                <div class="col-md-4 no-gutter custom-border">
                    <div class="text-white bg-danger p-2 text-center">
                        <h4>Email</h4>
                    </div>
                    <div class="text-center">
                        <h4 class=""><small class="black-text">R</small><span class="text-danger"> 249 <small>per year</small></span></h4>
                        <hr />
                    </div>
                    <div class="hosting-list">
                        <ul>
                            <s><li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Free .co.za Domain"
                                                  data-content="Even if your focus on the international market and you want a .com or similar, we'll give you a free .co.za domain to go with it.">
                                    <strong>Free .co.za Domain</strong>
                                </a>
                            </li></s>

                            <s><li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Alias Domains"
                                                  data-content="You can have as many alias domains as you like. You can get mysite.com, mysite.xyz and as many others as you want. You can only host as many as your package will allow, the rest will just be held so that nobody else can take them.">
                                    Alias Domains
                                </a>
                            </li></s>

                            <s><li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Subdomains"
                                                  data-content="Your main domain is will be your www.mysite.com, a subdomain will be something like africa.mysite.com and shop.mysite.com, mobile.mysite.com. They help you to organise your site or have multiple websites for multiple departments.These come in handy when your business gets big and can really help to improve customer impressions and experience.">
                                    Subdomains
                                </a>
                            </li></s>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Emails"
                                                  data-content="I'm not going to explain emails too much, I will say that you can control every aspect of your email accounts including mail box sizes, reroutes and software piping.Our hosting includes Spam Assassin, the very best in spam control software available.There is an online webmail portal where you can access your mail from anywhere.Supports POP3 and IMAP so you can get your mails via outlook, or on your phone and tablet.Supports SSL/TLS, so your mails are always transfered encrypted with the best security available.">
                                    6 Email Addresses
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Email Lists"
                                                  data-content="We have a built in list building system, so you can start building lists of clients for marketing and updates. You can have as many lists as your hosting will allow, which will allow you to categorise your emails, say into visitors, A list clients, prospective clients, etc. You can build email templates so that your marketing mail looks great and there is a built in opt-out feature allowing your customers to un-subscribe if they should chose to.">
                                    4 Email Lists
                                </a>
                            </li>

                            <s><li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Databases"
                                                  data-content="This is a vast subject, for now it's most important to know that every installation on your hosting account will need one database. If you want to have a subdomain with a website, it's going to need it's own database. If you want to install the analytics suite from the softaculous website, it will need a database. We use MySql, a very powerful database management system. You can access and manage every aspect from your hosting account. ">
                                    Databases
                                </a>
                            </li></s>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="FTP Accounts"
                                                  data-content="FTP Accounts allow you to remotely connect to the online filesystem of your hosting account and transfer files.">
                                    1 FTP Account <small>(for Backups)</small>
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Disk Space"
                                                  data-content="We use super fast SSD drices for our storage. If you run out of space, don't worry! It is scalable so you can upgrade with ease.">
                                    1000 mb Disk Space
                                </a>
                            </li>

                            <s><li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Bandwidth"
                                                  data-content="We've set the limits on Bandwidth very high. Nobody ever reaches them. If you do reach your bandwidth limit, (I'll be very impressed) then you should probably be looking at cloud server solutions anyway. You never get cut off though, even if your bandwidth limit is reached. We will contact you immediately should this happen. You can monitor your bandwidth useage from your control panel.">
                                    2 GB Bandwidth
                                </a>
                            </li></s>

                            <s><li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Dedicated IP Addresses"
                                                  data-content="What's that and why would you want one. In a shared hosting environment, many hosting accounts are accessible via the web on a single IP address. That's fine, its doesn't affect your website in any way. However, if someone that you share with is spamming and ends up getting blacklisted, then your website gets blacklisted along with theirs. That's not good at all, although it can be fixed. Blacklisted accounts are given one chance to mend their ways, provided the offence isn't too serious, or we close their account. Our server stauts is monitored daily and has never been blacklisted.We offer a dedicated IP address on certain packages, but it is available as an extra on all our hosting packages. You can have a dedicated IP address for each of your subdomains too if you like. A dedicated IP address helps for SEO!">
                                    Dedicated IP Addresses
                                </a>
                            </li></s>

                            <s><li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="SSL Certificate"
                                                  data-content="SSL Certificates are very important to protect your site and your visitors. What they do is encrypt the connection between your server and the visitors browser, which means that data transfered between the two is safe, like login details and credit card card numbers. We offer a free basic SSL certificate on certain packages, but depending on the size of your business and what your website will be doing, a really good SSL may be necessary. Surf over to our SSL page and have a good look at what's available.">
                                    SSL Certificate
                                </a>
                            </li></s>
                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Office 365 Exchange option"
                                                  data-content="We can connect your domain to Office 365 Exchange. Enjoy the power of the Microsoft Office 365 Software Suite with premium tech support. We offer systems management. Contact us for more information.">
                                    Office 365 Exchange Friendly
                                </a>
                            </li>
                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Google GSuite compatible"
                                                  data-content="GSuite Office software Suite can be connected to your domain. To find out more visit their website. We will facilitate the connecting.">
                                    Google GSuite compatible
                                </a>
                            </li>
                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Email Templates and Footer Design"
                                                  data-content="We can assist with email footer design, disclaimer notices and custom designed email templates used for email marketing.">
                                    Email Templates and Footer Design
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 no-gutter custom-border shadow-sm">
                    <div class="text-white bg-danger p-3 text-center" style="margin-top: -0.7rem;">
                        <h4>Starter</h4>
                    </div>
                    <div class="text-center">
                        <h4 class=""><small class="black-text">R</small><span class="text-danger"> 65 <small>per month</small></span></h4>
                        <hr />
                    </div>
                    <div class="hosting-list">
                        <ul>
                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Free .co.za Domain"
                                                  data-content="Even if your focus on the international market and you want a .com or similar, we'll give you a free .co.za domain to go with it.">
                                    <strong>Free .co.za Domain</strong>
                                </a>
                            </li>

                            <s><li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Alias Domains"
                                                  data-content="You can have as many alias domains as you like. You can get mysite.com, mysite.xyz and as many others as you want. You can only host as many as your package will allow, the rest will just be held so that nobody else can take them.">
                                    Alias Domains
                                </a>
                            </li></s>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Subdomains"
                                                  data-content="Your main domain is will be your www.mysite.com, a subdomain will be something like africa.mysite.com and shop.mysite.com, mobile.mysite.com. They help you to organise your site or have multiple websites for multiple departments.These come in handy when your business gets big and can really help to improve customer impressions and experience.">
                                    1 Subdomain
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Emails"
                                                  data-content="I'm not going to explain emails too much, I will say that you can control every aspect of your email accounts including mail box sizes, reroutes and software piping.Our hosting includes Spam Assassin, the very best in spam control software available.There is an online webmail portal where you can access your mail from anywhere.Supports POP3 and IMAP so you can get your mails via outlook, or on your phone and tablet.Supports SSL/TLS, so your mails are always transfered encrypted with the best security available.">
                                    25 Emails
                                </a>
                            </li>

                            <s><li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Email Lists"
                                                  data-content="We have a built in list building system, so you can start building lists of clients for marketing and updates. You can have as many lists as your hosting will allow, which will allow you to categorise your emails, say into visitors, A list clients, prospective clients, etc. You can build email templates so that your marketing mail looks great and there is a built in opt-out feature allowing your customers to un-subscribe if they should chose to.">
                                    Email Lists
                                </a>
                            </li></s>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Databases"
                                                  data-content="This is a vast subject, for now it's most important to know that every installation on your hosting account will need one database. If you want to have a subdomain with a website, it's going to need it's own database. If you want to install the analytics suite from the softaculous website, it will need a database. We use MySql, a very powerful database management system. You can access and manage every aspect from your hosting account. ">
                                    1 Database
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="FTP Accounts"
                                                  data-content="FTP Accounts allow you to remotely connect to the online filesystem of your hosting account and transfer files.">
                                    1 FTP Account
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Disk Space"
                                                  data-content="We use super fast SSD drices for our storage. If you run out of space, don't worry! It is scalable so you can upgrade with ease.">
                                    3 GB Disk Space
                                </a>
                            </li>

                            <s><li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Bandwidth"
                                                  data-content="We've set the limits on Bandwidth very high. Nobody ever reaches them. If you do reach your bandwidth limit, (I'll be very impressed) then you should probably be looking at cloud server solutions anyway. You never get cut off though, even if your bandwidth limit is reached. We will contact you immediately should this happen. You can monitor your bandwidth useage from your control panel.">
                                    5 GB Bandwidth
                                </a>
                                </li></s>

                            <s><li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Dedicated IP Addresses"
                                                  data-content="What's that and why would you want one. In a shared hosting environment, many hosting accounts are accessible via the web on a single IP address. That's fine, its doesn't affect your website in any way. However, if someone that you share with is spamming and ends up getting blacklisted, then your website gets blacklisted along with theirs. That's not good at all, although it can be fixed. Blacklisted accounts are given one chance to mend their ways, provided the offence isn't too serious, or we close their account. Our server stauts is monitored daily and has never been blacklisted.We offer a dedicated IP address on certain packages, but it is available as an extra on all our hosting packages. You can have a dedicated IP address for each of your subdomains too if you like. A dedicated IP address helps for SEO!">
                                    Dedicated IP Addresses
                                </a>
                            </li></s>

                            <s><li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="SSL Certificate"
                                                  data-content="SSL Certificates are very important to protect your site and your visitors. What they do is encrypt the connection between your server and the visitors browser, which means that data transfered between the two is safe, like login details and credit card card numbers. We offer a free basic SSL certificate on certain packages, but depending on the size of your business and what your website will be doing, a really good SSL may be necessary. Surf over to our SSL page and have a good look at what's available.">
                                    SSL Certificate
                                </a>
                            </li></s>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 no-gutter custom-border">
                    <div class="text-white bg-danger p-2 text-center">
                        <h4>Entrepreneur</h4>
                    </div>
                    <div class="text-center">
                        <h4 class=""><small class="black-text">R</small><span class="text-danger"> 139 <small>per month</small></span></h4>
                        <hr />
                    </div>
                    <div class="hosting-list">
                        <ul>
                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Free .co.za Domain"
                                                  data-content="Even if your focus on the international market and you want a .com or similar, we'll give you a free .co.za domain to go with it.">
                                    <strong>Free .co.za Domain</strong>
                                </a>
                            </li>

                            <s><li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Alias Domains"
                                                  data-content="You can have as many alias domains as you like. You can get mysite.com, mysite.xyz and as many others as you want. You can only host as many as your package will allow, the rest will just be held so that nobody else can take them.">
                                    Alias Domains
                                </a>
                            </li></s>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Subdomains"
                                                  data-content="Your main domain is will be your www.mysite.com, a subdomain will be something like africa.mysite.com and shop.mysite.com, mobile.mysite.com. They help you to organise your site or have multiple websites for multiple departments.These come in handy when your business gets big and can really help to improve customer impressions and experience.">
                                    10 Subdomains
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Emails"
                                                  data-content="I'm not going to explain emails too much, I will say that you can control every aspect of your email accounts including mail box sizes, reroutes and software piping.Our hosting includes Spam Assassin, the very best in spam control software available.There is an online webmail portal where you can access your mail from anywhere.Supports POP3 and IMAP so you can get your mails via outlook, or on your phone and tablet.Supports SSL/TLS, so your mails are always transfered encrypted with the best security available.">
                                    50 Emails
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Email Lists"
                                                  data-content="We have a built in list building system, so you can start building lists of clients for marketing and updates. You can have as many lists as your hosting will allow, which will allow you to categorise your emails, say into visitors, A list clients, prospective clients, etc. You can build email templates so that your marketing mail looks great and there is a built in opt-out feature allowing your customers to un-subscribe if they should chose to.">
                                    10 Email Lists
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Databases"
                                                  data-content="This is a vast subject, for now it's most important to know that every installation on your hosting account will need one database. If you want to have a subdomain with a website, it's going to need it's own database. If you want to install the analytics suite from the softaculous website, it will need a database. We use MySql, a very powerful database management system. You can access and manage every aspect from your hosting account. ">
                                    10 Databases
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="FTP Accounts"
                                                  data-content="FTP Accounts allow you to remotely connect to the online filesystem of your hosting account and transfer files.">
                                    10 FTP Accounts
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Disk Space"
                                                  data-content="We use super fast SSD drices for our storage. If you run out of space, don't worry! It is scalable so you can upgrade with ease.">
                                    5 GB Disk Space
                                </a>
                            </li>

                            <s><li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Bandwidth"
                                                  data-content="We've set the limits on Bandwidth very high. Nobody ever reaches them. If you do reach your bandwidth limit, (I'll be very impressed) then you should probably be looking at cloud server solutions anyway. You never get cut off though, even if your bandwidth limit is reached. We will contact you immediately should this happen. You can monitor your bandwidth useage from your control panel.">
                                    Unlimited Bandwidth
                                </a>
                                </li></s>

                            <s><li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Dedicated IP Addresses"
                                                  data-content="What's that and why would you want one. In a shared hosting environment, many hosting accounts are accessible via the web on a single IP address. That's fine, its doesn't affect your website in any way. However, if someone that you share with is spamming and ends up getting blacklisted, then your website gets blacklisted along with theirs. That's not good at all, although it can be fixed. Blacklisted accounts are given one chance to mend their ways, provided the offence isn't too serious, or we close their account. Our server stauts is monitored daily and has never been blacklisted.We offer a dedicated IP address on certain packages, but it is available as an extra on all our hosting packages. You can have a dedicated IP address for each of your subdomains too if you like. A dedicated IP address helps for SEO!">
                                    Dedicated IP Address optional
                                </a>
                            </li></s>

                            <s><li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="SSL Certificate"
                                                  data-content="SSL Certificates are very important to protect your site and your visitors. What they do is encrypt the connection between your server and the visitors browser, which means that data transfered between the two is safe, like login details and credit card card numbers. We offer a free basic SSL certificate on certain packages, but depending on the size of your business and what your website will be doing, a really good SSL may be necessary. Surf over to our SSL page and have a good look at what's available.">
                                    SSL Certificate not included
                                </a>
                            </li></s>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
            {#
            <div class="row shadow-sm">

                <div class="col no-gutter custom-border">
                    <div class="text-white bg-danger p-2 text-center">
                        <h4>Blogger</h4>
                    </div>
                    <div class="text-center">
                        <h4 class=""><small class="black-text">R</small><span class="text-danger"> 125 per month</span></h4>
                        <hr />
                    </div>
                    <div class="hosting-list">
                        <ul>
                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Free .co.za Domain"
                                                  data-content="Even if your focus on the international market and you want a .com or similar, we'll give you a free .co.za domain to go with it.">
                                    <strong>Free .co.za Domain</strong>
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Alias Domains"
                                                  data-content="You can have as many alias domains as you like. You can get mysite.com, mysite.xyz and as many others as you want. You can only host as many as your package will allow, the rest will just be held so that nobody else can take them.">
                                    1 Alias Domains
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Subdomains"
                                                  data-content="Your main domain is will be your www.mysite.com, a subdomain will be something like africa.mysite.com and shop.mysite.com, mobile.mysite.com. They help you to organise your site or have multiple websites for multiple departments.These come in handy when your business gets big and can really help to improve customer impressions and experience.">
                                    100 Subdomains
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Emails"
                                                  data-content="I'm not going to explain emails too much, I will say that you can control every aspect of your email accounts including mail box sizes, reroutes and software piping.Our hosting includes Spam Assassin, the very best in spam control software available.There is an online webmail portal where you can access your mail from anywhere.Supports POP3 and IMAP so you can get your mails via outlook, or on your phone and tablet.Supports SSL/TLS, so your mails are always transfered encrypted with the best security available.">
                                    1 250 Emails
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Email Lists"
                                                  data-content="We have a built in list building system, so you can start building lists of clients for marketing and updates. You can have as many lists as your hosting will allow, which will allow you to categorise your emails, say into visitors, A list clients, prospective clients, etc. You can build email templates so that your marketing mail looks great and there is a built in opt-out feature allowing your customers to un-subscribe if they should chose to.">
                                    100 Email Lists
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Databases"
                                                  data-content="This is a vast subject, for now it's most important to know that every installation on your hosting account will need one database. If you want to have a subdomain with a website, it's going to need it's own database. If you want to install the analytics suite from the softaculous website, it will need a database. We use MySql, a very powerful database management system. You can access and manage every aspect from your hosting account. ">
                                    250 Databases
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="FTP Accounts"
                                                  data-content="FTP Accounts allow you to remotely connect to the online filesystem of your hosting account and transfer files.">
                                    100 FTP Accounts
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Disk Space"
                                                  data-content="We use super fast SSD drices for our storage. If you run out of space, don't worry! It is scalable so you can upgrade with ease.">
                                    5 GB Disk Space
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Bandwidth"
                                                  data-content="We've set the limits on Bandwidth very high. Nobody ever reaches them. If you do reach your bandwidth limit, (I'll be very impressed) then you should probably be looking at cloud server solutions anyway. You never get cut off though, even if your bandwidth limit is reached. We will contact you immediately should this happen. You can monitor your bandwidth useage from your control panel.">
                                    10 GB Bandwidth
                                </a>
                            </li>

                            <s><li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Dedicated IP Addresses"
                                                  data-content="What's that and why would you want one. In a shared hosting environment, many hosting accounts are accessible via the web on a single IP address. That's fine, its doesn't affect your website in any way. However, if someone that you share with is spamming and ends up getting blacklisted, then your website gets blacklisted along with theirs. That's not good at all, although it can be fixed. Blacklisted accounts are given one chance to mend their ways, provided the offence isn't too serious, or we close their account. Our server stauts is monitored daily and has never been blacklisted.We offer a dedicated IP address on certain packages, but it is available as an extra on all our hosting packages. You can have a dedicated IP address for each of your subdomains too if you like. A dedicated IP address helps for SEO!">
                                    Dedicated IP Addresses
                                </a>
                            </li></s>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="SSL Certificate"
                                                  data-content="SSL Certificates are very important to protect your site and your visitors. What they do is encrypt the connection between your server and the visitors browser, which means that data transfered between the two is safe, like login details and credit card card numbers. We offer a free basic SSL certificate on certain packages, but depending on the size of your business and what your website will be doing, a really good SSL may be necessary. Surf over to our SSL page and have a good look at what's available.">
                                    SSL Certificate
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col no-gutter custom-border">
                    <div class="text-white bg-danger p-2 text-center">
                        <h4>Business</h4>
                    </div>
                    <div class="">
                        <h4 class="text-center"><small>R</small><span class="text-danger"> 185 per month</span></h4>
                        <hr />
                    </div>
                    <div class="hosting-list">
                        <ul>
                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Free .co.za Domain"
                                                  data-content="Even if your focus on the international market and you want a .com or similar, we'll give you a free .co.za domain to go with it.">
                                    <strong>Free .co.za Domain</strong>
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Alias Domains"
                                                  data-content="You can have as many alias domains as you like. You can get mysite.com, mysite.xyz and as many others as you want. You can only host as many as your package will allow, the rest will just be held so that nobody else can take them.">
                                    2 Alias Domains
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Subdomains"
                                                  data-content="Your main domain is will be your www.mysite.com, a subdomain will be something like africa.mysite.com and shop.mysite.com, mobile.mysite.com. They help you to organise your site or have multiple websites for multiple departments.These come in handy when your business gets big and can really help to improve customer impressions and experience.">
                                    500 Subdomains
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Emails"
                                                  data-content="I'm not going to explain emails too much, I will say that you can control every aspect of your email accounts including mail box sizes, reroutes and software piping.Our hosting includes Spam Assassin, the very best in spam control software available.There is an online webmail portal where you can access your mail from anywhere.Supports POP3 and IMAP so you can get your mails via outlook, or on your phone and tablet.Supports SSL/TLS, so your mails are always transfered encrypted with the best security available.">
                                    2 500 Emails
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Email Lists"
                                                  data-content="We have a built in list building system, so you can start building lists of clients for marketing and updates. You can have as many lists as your hosting will allow, which will allow you to categorise your emails, say into visitors, A list clients, prospective clients, etc. You can build email templates so that your marketing mail looks great and there is a built in opt-out feature allowing your customers to un-subscribe if they should chose to.">
                                    500 Email Lists
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Databases"
                                                  data-content="This is a vast subject, for now it's most important to know that every installation on your hosting account will need one database. If you want to have a subdomain with a website, it's going to need it's own database. If you want to install the analytics suite from the softaculous website, it will need a database. We use MySql, a very powerful database management system. You can access and manage every aspect from your hosting account. ">
                                    500 Databases
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="FTP Accounts"
                                                  data-content="FTP Accounts allow you to remotely connect to the online filesystem of your hosting account and transfer files.">
                                    500 FTP Accounts
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Disk Space"
                                                  data-content="We use super fast SSD drices for our storage. If you run out of space, don't worry! It is scalable so you can upgrade with ease.">
                                    10 GB Disk Space
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Bandwidth"
                                                  data-content="We've set the limits on Bandwidth very high. Nobody ever reaches them. If you do reach your bandwidth limit, (I'll be very impressed) then you should probably be looking at cloud server solutions anyway. You never get cut off though, even if your bandwidth limit is reached. We will contact you immediately should this happen. You can monitor your bandwidth useage from your control panel.">
                                    10 GB Bandwidth
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Dedicated IP Addresses"
                                                  data-content="What's that and why would you want one. In a shared hosting environment, many hosting accounts are accessible via the web on a single IP address. That's fine, its doesn't affect your website in any way. However, if someone that you share with is spamming and ends up getting blacklisted, then your website gets blacklisted along with theirs. That's not good at all, although it can be fixed. Blacklisted accounts are given one chance to mend their ways, provided the offence isn't too serious, or we close their account. Our server stauts is monitored daily and has never been blacklisted.We offer a dedicated IP address on certain packages, but it is available as an extra on all our hosting packages. You can have a dedicated IP address for each of your subdomains too if you like. A dedicated IP address helps for SEO!">
                                    Dedicated IP Addresses
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="SSL Certificate"
                                                  data-content="SSL Certificates are very important to protect your site and your visitors. What they do is encrypt the connection between your server and the visitors browser, which means that data transfered between the two is safe, like login details and credit card card numbers. We offer a free basic SSL certificate on certain packages, but depending on the size of your business and what your website will be doing, a really good SSL may be necessary. Surf over to our SSL page and have a good look at what's available.">
                                    SSL Certificate
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col no-gutter custom-border">
                    <div class="text-white bg-danger p-2 text-center">
                        <h4>Professional</h4>
                    </div>
                    <div class="text-center">
                        <h4 class=""><small class="black-text">R</small><span class="text-danger"> 490 per month</span></h4>
                        <hr />
                    </div>
                    <div class="hosting-list">
                        <ul>
                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Free .co.za Domain"
                                                  data-content="Even if your focus on the international market and you want a .com or similar, we'll give you a free .co.za domain to go with it.">
                                    <strong>Free .co.za Domain</strong>
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Alias Domains"
                                                  data-content="You can have as many alias domains as you like. You can get mysite.com, mysite.xyz and as many others as you want. You can only host as many as your package will allow, the rest will just be held so that nobody else can take them.">
                                    3 Alias Domains
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Subdomains"
                                                  data-content="Your main domain is will be your www.mysite.com, a subdomain will be something like africa.mysite.com and shop.mysite.com, mobile.mysite.com. They help you to organise your site or have multiple websites for multiple departments.These come in handy when your business gets big and can really help to improve customer impressions and experience.">
                                    1000 Subdomains
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Emails"
                                                  data-content="I'm not going to explain emails too much, I will say that you can control every aspect of your email accounts including mail box sizes, reroutes and software piping.Our hosting includes Spam Assassin, the very best in spam control software available.There is an online webmail portal where you can access your mail from anywhere.Supports POP3 and IMAP so you can get your mails via outlook, or on your phone and tablet.Supports SSL/TLS, so your mails are always transfered encrypted with the best security available.">
                                    5 000 Emails
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Email Lists"
                                                  data-content="We have a built in list building system, so you can start building lists of clients for marketing and updates. You can have as many lists as your hosting will allow, which will allow you to categorise your emails, say into visitors, A list clients, prospective clients, etc. You can build email templates so that your marketing mail looks great and there is a built in opt-out feature allowing your customers to un-subscribe if they should chose to.">
                                    1 000 Email Lists
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Databases"
                                                  data-content="This is a vast subject, for now it's most important to know that every installation on your hosting account will need one database. If you want to have a subdomain with a website, it's going to need it's own database. If you want to install the analytics suite from the softaculous website, it will need a database. We use MySql, a very powerful database management system. You can access and manage every aspect from your hosting account. ">
                                    1 000 Databases
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="FTP Accounts"
                                                  data-content="FTP Accounts allow you to remotely connect to the online filesystem of your hosting account and transfer files.">
                                    1 000 FTP Accounts
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Disk Space"
                                                  data-content="We use super fast SSD drices for our storage. If you run out of space, don't worry! It is scalable so you can upgrade with ease.">
                                    60 GB Disk Space
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Bandwidth"
                                                  data-content="We've set the limits on Bandwidth very high. Nobody ever reaches them. If you do reach your bandwidth limit, (I'll be very impressed) then you should probably be looking at cloud server solutions anyway. You never get cut off though, even if your bandwidth limit is reached. We will contact you immediately should this happen. You can monitor your bandwidth useage from your control panel.">
                                    60 GB Bandwidth
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="Dedicated IP Addresses"
                                                  data-content="What's that and why would you want one. In a shared hosting environment, many hosting accounts are accessible via the web on a single IP address. That's fine, its doesn't affect your website in any way. However, if someone that you share with is spamming and ends up getting blacklisted, then your website gets blacklisted along with theirs. That's not good at all, although it can be fixed. Blacklisted accounts are given one chance to mend their ways, provided the offence isn't too serious, or we close their account. Our server stauts is monitored daily and has never been blacklisted.We offer a dedicated IP address on certain packages, but it is available as an extra on all our hosting packages. You can have a dedicated IP address for each of your subdomains too if you like. A dedicated IP address helps for SEO!">
                                    Dedicated IP Addresses
                                </a>
                            </li>

                            <li class="reddot"><a class="hosting-popover" data-toggle="popover"
                                                  title="SSL Certificate"
                                                  data-content="SSL Certificates are very important to protect your site and your visitors. What they do is encrypt the connection between your server and the visitors browser, which means that data transfered between the two is safe, like login details and credit card card numbers. We offer a free basic SSL certificate on certain packages, but depending on the size of your business and what your website will be doing, a really good SSL may be necessary. Surf over to our SSL page and have a good look at what's available.">
                                    SSL Certificate
                                </a>
                            </li>
                        </ul>
                        <br />
                    </div>
                </div>
            </div>
            #}
        </div>
        <div class="hr-divider mt-2">
            <div class="hr-line"></div>
            <div class="hr-icon"><i class="fa fa-chevron-down"></i></div>
            <div class="hr-line"></div>
        </div>
        <div class="row  shadow-sm">
            <div class="col-md-12 bg-danger text-white p-5 text-center">
                <h2>Need a Domain & Website & Emails? Please contact us for a quote</h2>
                <a class="contact-btn m-4 p-3 btn text-danger border-danger bg-white" href="{{ site.url }}contact">Contact Us <i class="fa fa-users text-danger"></i> </a>
            </div>
        </div>
    </div>
{% endblock body %}

{% block scripts %}{% endblock scripts %}