{% extends 'index.twig' %}

{% block head %}{% endblock head %}

{% block body %}

    <div class="container bg-white">
        <div class="social-media mt-3 mb-3 pb-3">
            <div class="row">
                <div class="col-md-12 mt-3 text-center">
                    <h3>{{ page.title }}</h3>
                    <p class="lead">We develop, implement and maintain an online marketing strategy for your business.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="hr-divider mt-3 mb-3">
                        <div class="hr-line"></div>
                        <div class="hr-icon"><i class="fa fa-chevron-down"></i></div>
                        <div class="hr-line"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 mb-4">
                <div class="col no-gutter custom-border">
                    <div class="bg-danger text-white p-3">
                        <h3>Add Campaign Platforms</h3>
                    </div>
                    <ul>
                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="Google Adwords"
                                                  data-content="Jump to the the top of page one on Google for your chosen search phrase and appear in Google Ads on their partner sites.">
                                    Google Adwords
                                </a>
                            </li>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="Google Remarketing"
                                                  data-content="Using Google Analytics and search histories, Google targets customers who have visited your site before, but did not convert with ads for your business. This strategy reinforces your brand message and boosts your marketing campaign effectiveness.">
                                    Google Remarketing
                                </a>
                            </li>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="Bing Ads"
                                                  data-content="Reach people on Bing, MSN, Yahoo and AOL using Bing ads. Bing Ads statistics show an increase in leads of up to 30% for businesses. Lowest cost per click with the highest return on investment.">
                                    Bing Ads
                                </a>
                            </li>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="Facebook Ads"
                                                  data-content="Reach the millions of Facebook users worldwide with paid ads. Target your chosen market directly and have your business featured on Facebook. Facebook ads have become a very powerful marketing platform and a great entry point to your business. Paid ads have a reach and interaction ratio that free posts will never be able to match.">
                                    Facebook Ads
                                </a>
                            </li>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="Twitter for business"
                                                  data-content="Drive traffic to your website through your Tweets. If you use Twitter for Business, we can help you develop and maintain an ad campaign to boost your visibility and get your tweets to your target market.">
                                    Twitter for Business
                                </a>
                            </li>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="Instagram for Business"
                                                  data-content="Instagram has over 500 million active accounts. Its a visual based social media platform that is very passion based. By this I mean that people explore what they are interested in. Followers on Instagram are interested in and passionate about the topics that the follow, so your following here is your target market. The approach is different from other marketing platforms, we can help you reach them with meaningful, visually based content">
                                    Instagram for Business
                                </a>
                            </li>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="LinkedIn"
                                                  data-content="LinkedIn is a purely business based platform where your followers are a carefully selected group of business professionals who only follow their direct interests in groups and discussions. If you have valuable content to share you can gain a following of professionals that can prove to bevery valuable to your business. We can help you setup a professional business page and show you how to harness the power of the LinkedIn network.">
                                    LinkedIn
                                </a>
                            </li>
                        </ul>
                </div>
                <div class="col no-gutter custom-border">
                    <div class="bg-danger text-white p-3">
                        <h3>Content Development</h3>
                    </div>
                        <ul>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="Ad Copy Writing"
                                                  data-content="We write, edit and optimise ads with images that are relevant to your target market, that fit in with the platform of your choice and that will perform well with their chosen target keywords">
                                    Ad Copy Writing
                                </a>
                            </li>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="Ad Copy Testing"
                                                  data-content="Google and Bing have a powerful tool that allows you to test the performance of an ad. We write at least two copies of an ad that vary and test them on each platform to check that they will compete well in their target keyword groups. This is a vary involved process, please contact us to find out more about how we do it.">
                                    Ad Copy Testing
                                </a>
                            </li>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="Keyword Optimisation"
                                                  data-content="We optimise your add copy to perform under the chosen keywords.">
                                    Keyword Optimisation
                                </a>
                            </li>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="Dynamic Keyword Insertion"
                                                  data-content="This is an advanced feature of Adwords that allows Google to insert keywords 'on the fly', to match what a customer is searching for and allows your ad to feature under a slightly different keyword set. It imroves your ad reach. This is done through a special code that we insert into your ad copy. ">
                                    Dynamic Keyword Insertion
                                </a>
                            </li>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="Infographics"
                                                  data-content="Infographics are a visual representation of information. In today's time driven business environment, people have limited time for reading, so an infographic is perfect to drive home your message in a meaningful way. We develop professional infographics to use as content on relevant platforms like Instagram and to use as marketing and presentation material">
                                    Infographics
                                </a>
                            </li>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="Surveys and Questionnaires"
                                                  data-content="These can take many forms, for example; A customer service survey or a market research questionnaire. If you are trying to find out what your target market wants or how the see you, we can develop the platform to do it and help you reach your chosen target audience">
                                    Surveys and questionnaires
                                </a>
                            </li>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="Website page or blog content"
                                                  data-content="We develop blog articles or website content that is relevant to your business that can be used on social platforms and in PPC campaigns to drive traffic to your site and lead to conversions">
                                    Website page and blog content
                                </a>
                            </li>
                        </ul>
                </div>
                <div class="col no-gutter custom-border">
                    <div class="bg-danger text-white p-3">
                        <h3>Campaign Management</h3>
                    </div>
                        <ul>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="Keyword Research"
                                                  data-content="Keyword Research is the key to it all. We find out what people are searching for, what those keywords cost for your ad campaign and what the competition is like and those keywords. Based on this information we will find the balance and recommend a keyword phrase that will lead to a viable return on investment">
                                    Keyword Research
                                </a>
                            </li>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="Competition Research"
                                                  data-content="Researching what your competitors are doing in their advertising campaigns can give you valuable insight into how to make your ads more effective and give you a serious advantage in creating products and ads that beat the competition in converting">
                                    Competition Research
                                </a>
                            </li>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="List Building"
                                                  data-content="Using a combination of analytics and web forms, registrations, and some clever coding on your website we will setup an automated contact database of customers that have visited your site or expressed interest in your products, but haven't converted so that you can remarket to them via email. Our warm leads database building tools are an invaluable source for reaching potential customers">
                                    List Building
                                </a>
                            </li>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="Analytics and reports"
                                                  data-content="Google, Bing, Facebook, Twitter and Instagram all offer powerful anayltics that can help you track the effectiveness of your ad campaigns and give you insights into how to improve your campaign. We collate this data and present it to you in a report form with recommendations for improvement">
                                    Analytics and reports
                                </a>
                            </li>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="Website Analytics"
                                                  data-content="We can tell you how many people visited your website, where the traffic came from (not only countries and towns, but where they found you, eg. Google ad, Bing ad, Facebook post, etc), how long they spent on your site what they did.">
                                    Website Analytics
                                </a>
                            </li>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="Website Marketing Funnels"
                                                  data-content="There is a goal to a website, wither you want the customer to fill in a form, or purchase a product, etc. Whatever it is, there is a process to take them from a viewer to a customer. We help you optimise your website to make it easy and inviting for your website visitors to take the next step. Using analytics, we track this process and can find out exactly where the customers are exiting your site, where the hotspots are and how to improve your site to increase conversions.">
                                    Website Marketing Funnels
                                </a>
                            </li>

                            <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                                  title="SEO Recommendations"
                                                  data-content="We can recommend, build and implement an SEO strategy to improve organic search results. To find out more please visit our SEO page.">
                                    SEO Recommendations
                                </a>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>We offer full marketing services to keep your social media profiles active and constantly marketing your
                        website and your business. We design a social marketing strategy to reach your most relevant target audience
                        to ensure that your social media investment yields the best possible returns. </p>

                    <p>In today's world, consumers expect value. The old days of "click here" and "buy now" strategies for gaining
                        conversions are no longer effective. People have choice, there are as many choices available as there is
                        competition, so people look for providers that offer the best value, even if the price is higher. We will
                        help you stand out as a value provider and showcase your ingenuity.</p>

                    <p>Social media marketing is all about engaging the right audiences with valuable content that is relevant to the
                        platform you are marketing on. One of the pitfalls that so many businesses fall into is that they market their
                        business with every post. Socialites have little tolerance for this. They are looking for content that they find
                        useful, interesting or entertaining.</p>

                    <p>There is alot to know and learn about effective social media marketing, we can help you develop, implement
                        and maintain an effective social media campaign that will:
                    <ul>
                        <li class="reddot"><span class="black-text">grow your brand</span></li>
                        <li class="reddot"><span class="black-text">reach your target market</span></li>
                        <li class="reddot"><span class="black-text">increase conversions</span></li>
                        <li class="reddot"><span class="black-text">attract new customers</span></li>
                        <li class="reddot"><span class="black-text">offer the best possible return on investment</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block scripts %}{% endblock scripts %}