{% extends 'index.twig' %}

{% block head %}{% endblock head %}

{% block body %}
<section id="mobile-head" class="shadow-sm">
    <div class="container-fluid">
        <div class="row">
            <div class="d-none d-lg-block col-lg-6 no-gutter">
                <img class="w-100 h-100" src="/images/app-slide.jpg" />
            </div>
            <div class="col-lg-6 col-md-12 no-gutter text-white text-center bg-dark font-weight-bold p-5">
                <h1 class="display-4">Mobile App Development</h1>
                <h2><small>Concept | Design | Develop</small></h2>
                    <div class="m-4">
                        <a href="https://www.crestcoder.com" target="_blank">
                            <img class="img-fluid" src="/images/crestcoder.png" />
                        </a>
                    </div>
                    <p class="lead">Top class mobile apps for android and IOS proudly brought to you by Crestcoder, our Tech Partners in App creation</p>
                    <p class="lead">Crestcoder is a 5 star Mobile Development Company with presence in India, Australia, Singapore and now South Africa.</p>
                <hr />
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="text-center p-2 mt-3">
            <h3>Custom Software and Mobile App Development</h3>
            <div class="hr-divider mt-3 mb-3">
                <div class="hr-line"></div>
                <div class="hr-icon"><i class="fa fa-chevron-down"></i></div>
                <div class="hr-line"></div>
            </div>
        </div>
    </div>
    <div class="container mb-3 pb-3" id="platform-icons">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <p class="lead" style="text-align: justify;">We create mobile applications for Android and IOS operating systems and custom web apps. We design and build according to your needs by consulting carefully to gain a full understanding of your concept. We then draw up a task flow and data map to build apps that are well thought out, efficient and user-friendly</p>
                        <div class="row text-center mb-4">
                            <div class="col">
                                <i class="fa fa-globe fa-2x"></i>
                            </div>
                            <div class="col">
                                <i class="fab fa-android fa-2x"></i>
                            </div>
                            <div class="col">
                                <i class="fab fa-apple fa-2x"></i>
                            </div>
                        </div>
                        <div id="example-list" class="pl-5 text-black-50">
                            <h5>Examples Include:</h5>
                            <ul>
                                <li class="reddot">Restaurant Menu and Bookings Software</li>
                                <li class="reddot">Intranet Solutions</li>
                                <li class="reddot">Restaurant Menu's and Booking Forms</li>
                                <li class="reddot">Custom E-Commerce Solutions</li>
                                <li class="reddot">Productivity Management Software</li>
                                <li class="reddot">Geo-Location Based - Maps & More</li>
                                <li class="reddot">Custom Loyalty Programs & CRM's</li>
                                <li class="reddot">Market Research Apps</li>
                                <li class="reddot">Information Sharing & News apps</li>
                                <li class="reddot">Content sharing of video and images</li>
                            </ul>
                        </div>

                        <p class="lead">User experience and visual appeal of an app are just as important as it's functionality. Our apps look great and are designed to be simple, effective and intuitive.</p>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="our-work" class="mt-2">
    <div class="container-fluid">
        <div class="text-center p-2">
            <h3>Some of Our Work</h3>
            <div class="hr-divider mt-3 mb-3">
                <div class="hr-line"></div>
                <div class="hr-icon"><i class="fa fa-chevron-down"></i></div>
                <div class="hr-line"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-center portfolio">
                <a data-toggle="modal" data-target="#productModalOne">
                    <img class="img-fluid shadow-sm" src="/images/foil.png" alt="Foil Republic App on Android and IOS" />
                </a>
                <div class="overlay">
                    <a data-toggle="modal" data-target="#productModalOne">
                        <div class="text"><i class="fa fa-info-circle fa-4x"></i></div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center portfolio">
                <a data-toggle="modal" data-target="#productModalTwo">
                    <img class="img-fluid shadow-sm" src="/images/blackswan.png" alt="Black Swan Security Website"/>
                </a>
                <div class="overlay">
                    <a data-toggle="modal" data-target="#productModalTwo">
                        <div class="text"><i class="fa fa-info-circle fa-4x"></i></div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center portfolio">
                <a data-toggle="modal" data-target="#productModalThree">
                    <img class="img-fluid shadow-sm" src="/images/kpmg-1.png" alt="KPMG Website and App" />
                </a>
                <div class="overlay">
                    <a data-toggle="modal" data-target="#productModalThree">
                        <div class="text"><i class="fa fa-info-circle fa-4x"></i></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4 text-center portfolio">
                <a data-toggle="modal" data-target="#productModalFour">
                    <img class="img-fluid shadow-sm" src="/images/whyte.jpg" alt="Whyte | Smart Living Solutions App" />
                </a>
                <div class="overlay">
                    <a data-toggle="modal" data-target="#productModalFour">
                        <div class="text"><i class="fa fa-info-circle fa-4x"></i></div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center portfolio">
                <a data-toggle="modal" data-target="#productModalFive">
                    <img class="img-fluid shadow-sm" src="/images/festo.png" alt="Festo Industrial Control and Automation IOS App"  />
                </a>
                <div class="overlay">
                    <a data-toggle="modal" data-target="#productModalFive">
                        <div class="text"><i class="fa fa-info-circle fa-4x"></i></div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center portfolio">
                <a data-toggle="modal" data-target="#productModalSix">
                    <img class="img-fluid shadow-sm" src="/images/whatson.png" alt="Whatson Event Venue Calendar and Co-ordinating App on IOS and Android" />
                </a>
                <div class="overlay">
                    <a data-toggle="modal" data-target="#productModalSix">
                        <div class="text"><i class="fa fa-info-circle fa-4x"></i></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

    <div class="modal fade" tabindex="-1" role="dialog" id="productModalOne" tabindex="-1" role="dialog" aria-labelledby="productModalOneTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">Foil Republic Mobile App</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-5">Foil Republic is a leading supplier and innovator in premium quality hairdressing Foil. They are based in Australian and manufactures its hair foil products in Australia. Foil Republic is the only company in Australia that produces a full hairdressing foil range locally.</p>
                            <hr />
                            <span class="detail-label">Live URL</span>
                            <span class="detail-value">
                                <a target="_blank" href="http://www.foilrepublic.com.au/" target="_blank">
                                    <i class="fa fa-globe fa-2x" title="Web" aria-hidden="true"></i>
                                </a>
                                <a target="_blank" href="https://itunes.apple.com/in/app/foil-republic/id1008163898?mt=8" target="_blank">
                                    <i class="fab fa-apple fa-2x" title="IOS" aria-hidden="true"></i>
                                </a>  <a target="_blank" href="https://play.google.com/store/apps/details?id=com.foilrepublic" target="_blank">
                                    <i class="fab fa-android fa-2x" title="Android"  aria-hidden="true"></i>
                                </a>
                            </span>
                            <span class="detail-container">
                                <span class="detail-label">Industry</span>
                                <span class="detail-value">Retail</span>
                            </span>
                            <span class="detail-container">
                                <span class="detail-label">Technology </span>
                                <span class="detail-value">
                                    <a target="_blank"  href="https://www.crestcoder.com/react-native-app-development/">React Native</a>,
                                    <a target="_blank"  href="https://www.crestcoder.com/php-development/">Core PHP</a>
                                </span>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid shadow-sm" src="/images/fr-1.png" alt="Foil Republic App Pic" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="productModalTwo" tabindex="-1" role="dialog" aria-labelledby="productModalTwoTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">Black Swan International</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Black Swan (PNG) Limited is a PNG based, privately owned, security company, that provides strategic security support to all market segments. It provides an online taxi booking services as a part of one of the major offerings by Black Swan.</p>
                            <p class="mb-5">Fare calculator is also available in the application where users can add the locations to calculate the fare and book their rides. Application provides 3 different payment options like Cash to Driver, EFTPOS and Pay Online via Credit card or Debit Card.</p>
                            <hr />
                            <span class="detail-label">Live URL</span>
                            <span class="detail-value">
                                <a target="_blank" href="http://www.blackswanss.com/online-bookings/" target="_blank">
                                    <i class="fa fa-globe fa-2x" title="Web" aria-hidden="true"></i>
                                </a>
                                <a target="_blank" href="https://itunes.apple.com/gb/app/black-swan-secure-transport/id1198935755?mt=8" target="_blank">
                                    <i class="fab fa-apple fa-2x" title="IOS" aria-hidden="true"></i>
                                </a>  <a target="_blank" href="https://play.google.com/store/apps/details?id=com.v1technologies.blackswan" target="_blank">
                                    <i class="fab fa-android fa-2x" title="Android"  aria-hidden="true"></i>
                                </a>
                            </span>
                            <span class="detail-container">
                                <span class="detail-label">Industry</span>
                                <span class="detail-value">Security Services</span>
                            </span>
                            <span class="detail-container">
                                <span class="detail-label">Technology </span>
                                <span class="detail-value">
                                    PHP, Laravel, Native iOS & Android
                                </span>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid shadow-sm" src="/images/blackswan.png" alt="Foil Republic App Pic" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="productModalThree" tabindex="-1" role="dialog" aria-labelledby="productModalThreeTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">KPMG</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-5">KPMG is a global network of professional firms providing Audit, Tax and Advisory services across a wide range of industries, Governments and Non profit sectors. KPMG in PNG provides a full range of services tailored to meet the unique needs of PNG-based entities across all industries.</p>
                            <hr />
                            <span class="detail-label">Live URL</span>
                            <span class="detail-value">
                                <a target="_blank" href="http://kpmg.com.pg/" target="_blank">
                                    <i class="fa fa-globe fa-2x" title="Web" aria-hidden="true"></i>
                                </a>
                            </span>
                            <span class="detail-container">
                                <span class="detail-label">Industry</span>
                                <span class="detail-value">Finance</span>
                            </span>
                            <span class="detail-container">
                                <span class="detail-label">Technology </span>
                                <span class="detail-value">
                                   Wordpress , HTML
                                </span>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid shadow-sm" src="/images/kpmg-1.png" alt="Foil Republic App Pic" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="productModalFour" tabindex="-1" role="dialog" aria-labelledby="productModalFourTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">WHYTE – Smart Living Solution</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-5">The Next Generation of Living A Range of Features for Smart Living. Now control your entire home appliances from anywhere. Whyte brings you the smartest solution for automation of your premise, with multiple access points and an extensive range of solutions to choose from. </p>
                            <hr />
                            <span class="detail-label">Live URL</span>
                            <span class="detail-value">
                                <a target="_blank" href="http://whyte.co.in/" target="_blank">
                                    <i class="fa fa-globe fa-2x" title="Web" aria-hidden="true"></i>
                                </a>
                            </span>
                            <span class="detail-container">
                                <span class="detail-label">Industry</span>
                                <span class="detail-value">Business</span>
                            </span>
                            <span class="detail-container">
                                <span class="detail-label">Technology </span>
                                <span class="detail-value">
                                    Core PHP
                                </span>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid shadow-sm" src="/images/whyte.jpg" alt="Whyte | Smart Living Solutions App" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="productModalFive" tabindex="-1" role="dialog" aria-labelledby="productModalFiveTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">FESTO- A Process Automation</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-5">Festo is a German multinational industrial control and automation company based in Esslingen am Neckar, Germany. Festo is an engineering-driven company, producing and selling pneumatic and electrical control and drive technology for factory or process automation.</p>
                            <hr />
                            <span class="detail-label">Live URL</span>
                            <span class="detail-value">

                                <a target="_blank" href="https://itunes.apple.com/" target="_blank">
                                    <i class="fab fa-apple fa-2x" title="IOS" aria-hidden="true"></i>
                                </a>
                            </span>
                            <span class="detail-container">
                                <span class="detail-label">Industry</span>
                                <span class="detail-value">Automation</span>
                            </span>
                            <span class="detail-container">
                                <span class="detail-label">Technology </span>
                                <span class="detail-value">
                                    IOS
                                </span>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid shadow-sm" src="/images/festo.png" alt="Festo Industrial Control and Automation IOS App"  />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="productModalSix" tabindex="-1" role="dialog" aria-labelledby="productModalSixTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">What’s On PNG</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-5">What’s On PNG aims to provide a central resource to see all of the Venues and Events along with listing of all the upcoming events to help you plan your weekend. Advertisers can list their venues and events with different subscription plans. Events are associated with the Venues and users can search it with different categories as per their interest.</p>
                            <hr />
                            <span class="detail-label">Live URL</span>
                            <span class="detail-value">
                                <a target="_blank" href="https://whatsonpng.com/" target="_blank">
                                    <i class="fa fa-globe fa-2x" title="Web" aria-hidden="true"></i>
                                </a>
                                <a target="_blank" href="https://itunes.apple.com/us/app/whats-on-png/id1438324834?ls=1&mt=8" target="_blank">
                                    <i class="fab fa-apple fa-2x" title="IOS" aria-hidden="true"></i>
                                </a>  <a target="_blank" href="https://play.google.com/store/apps/details?id=com.whatsonpng" target="_blank">
                                    <i class="fab fa-android fa-2x" title="Android"  aria-hidden="true"></i>
                                </a>
                            </span>
                            <span class="detail-container">
                                <span class="detail-label">Industry</span>
                                <span class="detail-value">Retail</span>
                            </span>
                            <span class="detail-container">
                                <span class="detail-label">Technology </span>
                                <span class="detail-value">
                                    Core PHP, Laravel, Native iOS & Android
                                </span>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid shadow-sm" src="/images/whatson.png" alt="Whatson Event Venue Calendar and Co-ordinating App on IOS and Android" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block scripts %}{% endblock scripts %}