{% extends 'index.twig' %}

{% block head %}{% endblock head %}

{% block body %}
    <section id="seo-header">
        <div class="container-fluid">
            <div class="row">
                <div class="d-none d-lg-block col-lg-6 no-gutter">
                    <img class="w-100 h-100" src="/images/search.jpg" />
                </div>
                <div class="col-lg-6 col-md-12 no-gutter text-white text-center bg-dark font-weight-bold p-5">
                    <h1 class="display-4">SEO | Search Engine Optimisation</h1>
                    <h2><small>We put your site on the map!</small></h2>

                    <p class="lead mt-3">We are SEO experts. Our methods have a proven track record of bringing websites to page one in searches.</p>
                    <p class="lead">We cover every aspect of SEO and are constantly monitoring new search engine policies that affect the way SEO scores are calculated.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <div class="text-center p-2 mt-3">
            <h3>Full House SEO Services</h3>
            <p class="lead">We offer once off and extended maintenance SEO services</p>
            <div class="container">
                <div class="hr-divider mt-2 mb-2">
                    <div class="hr-line"></div>
                    <div class="hr-icon"><i class="fa fa-chevron-down"></i></div>
                    <div class="hr-line"></div>
                </div>

                <div class="row  shadow-sm">
                    <div class="col-md-12 bg-danger text-white p-5 text-center">
                        <h2>We are SEO experts! Please contact us for a quote</h2>
                        <a class="contact-btn m-4 p-3 btn text-danger border-danger bg-white" href="{{ site.url }}contact-us/">Contact Us <i class="fa fa-users text-danger"></i> </a>
                    </div>
                </div>
                <div class="hr-divider mt-2">
                    <div class="hr-line"></div>
                    <div class="hr-icon"><i class="fa fa-chevron-down"></i></div>
                    <div class="hr-line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2 bg-white shadow-sm">
        <div class="row">
            <div class="col-md-3 no-gutter custom-border">
                <div class=" text-white bg-danger p-2 text-center">
                    <h4>Basic <small>Monthly</small></h4>
                </div>
                <div class="text-center">
                    <h4><small class="black-text">R</small><span class="text-danger"> 1500</span> <small class="black-text">per month</small></h4>
                    <hr />
                </div>
                <div class="seo-list">
                    <ul>
                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Off-Site SEO Setup"
                                              data-content="Off Site SEO is completed on other websites that directly benefit your site page rank score.">
                                <strong>Off-Site SEO Setup</strong>
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Google Webmaster Tools"
                                              data-content="Google Webmaster Tools is Google's toolbox for website administrators to get analytics, spam protection for forms, Search Console Tools and more!  ">
                                Google Webmaster Tools
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Google Plus and Google Places"
                                              data-content="Google Plus is a business oriented media sharing platform that is becoming more and more advanced. Google now directly markets businesses listed on these platforms via mobile and through gmail based on Geo-Location. This can open a great entry point to reach people in your area. This is also where you get registered on Google Maps">
                                Google Plus and Google Places
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Google Search Console"
                                              data-content="We register your website with Google Search Console where we can register your sitemap and control how google spiders trawl your website. Here we help Google make sense of your website through Schema information.">
                                Google Search Console
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Google Analytics"
                                              data-content="We register your site with Google analytics, where you can get accurate statistics and insights into your site traffic. This information can prove invaluable if harnessed properly.">
                                Google Analytics
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Bing/Yahoo Webmaster Tools"
                                              data-content="Registration with Bing gives you listings on Bing, Yahoo, MSN, Altavista and alltheweb.com">
                                Bing/Yahoo Webmaster Tools
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Web9 Site registration"
                                              data-content="Web9.co.za is a purely South African Search engine that is very powerful and is growing rapidly. If you want to find something purely South African, Web9 is the place to go.">
                                Web9 Site registration
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Ananzi Site & Directory"
                                              data-content="Ananzi is another popular South African business directory and search engine. It's been around for a whilst!">
                                Ananzi Site & Directory
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Curlie Directory (Formerly Dmoz)"
                                              data-content="Curlie is the group that has taken over DMOZ, which was a volunteer group that attempted to list every business website on the internet. The task proved to be too much for them and now Curlie has taken over the task. A listing on this directory is very valuable from an SEO viewpoint. An inbound link from an authority site improves your site ranking greatly.">
                                Curlie Directory (Formerly Dmoz)
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Braby's Site Submission"
                                              data-content="Brady's is another South African search engine and business directory. They've been around for years but never really took off in a big way. Still a valuable business listing.">
                                Braby's Site Submission
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Funnel Site Submission"
                                              data-content="Funnel.co.za is yet another search engine for South Afican businesses. A listing from them is a great inbound link from an authrity site and a valuable source of organic traffic.">
                                Funnel Site Submission
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Blacklist checking and correcting"
                                              data-content="We check to make sure that your website and your web host have no penalties against them with Bing and Google and make direct contact with them if there is a problem to correct it. Our hosting is whitelisted and we maintain that rigourously.">
                                Blacklist checking and correcting
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="On-Site SEO Setup"
                                              data-content="On-Site seo is work that we do on your website in order to effectively communicate with the search engine bots that crawl your website so that they can understand your content and know where to list you.">
                                <strong>On-Site SEO Setup</strong>
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Social Media Integration"
                                              data-content="We link your website with your various Social Media profiles and add like and share features to generate activity from the website to your social profiles and vice versa. This is one of the most important aspects of customer engagement and search engine optimisation.">
                                Social Media Integration
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Meta Data Setup"
                                              data-content="Meta data influences many features and aspects of your website, including not only your keyword setup, but how the various social media sites and browsers can display and interact with your website. At present we utilise 34 different indespensible meta tag lines.">
                                Meta Data Setup
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Sitemaps build and submission"
                                              data-content="Sitemaps are an xml file that list each and every page and post and category and image on your website. These files are very important and cannot have a single error or ommission. We take extreme care in building aand testing these files.">
                                Sitemaps build and submission
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="robots.txt"
                                              data-content="robots.txt is a file with a very specific format that tells search engine bots how to crawl your website. These are a small yet very important part of your SEO build.">
                                robots.txt
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="URL re-writing"
                                              data-content="Search engines like urls that reflect your keywords and avoid stop words and unfriendly characters. Having /index.php? in the middle of your url for instance is a definite no. This is great seo focal point.">
                                URL re-writing
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Keyword / Phrase Research"
                                              data-content="Using Google trends we find out who has been searching for what and where. Then we look at the competition for those keywords and we find a phrase that matches your content, where there is great traffic and the competition is not too strong (in a nutshell).">
                                Keyword / Phrase Research
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Page keyword optimisation"
                                              data-content="Your page title, url, image tags, headings and content used on each page should match the keyword phrase listed in your meta tags. This is what is meant by optimisation. There's more too it, like ensuring that your content is readable. That your sentenses are not too long and that there is enough content. There should be outbound links, but those should be marked as nofollow, so that the bots don't exit your page too early.">
                                Page keyword optimisation
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Code Error Testing"
                                              data-content="I can't stress enough how important it is that there are NO errors in your HTML and Javascript. These can cause errors in the rendering of your page and in how the bots crawl your site and will lead to your content not being indexed and listed. We test thouroughly for all errors and fix them.">
                                Code Error Testing
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Broken Links Checking"
                                              data-content="Bots and Spiders look at every link in your content and get confused by broken links. Broken links occur when a site that you have linked to either change their URL's or remove the content you have linked to. In our monthly SEO packages we scan your site to test each link and either remove or repair every broken link.">
                                Broken Links Checking
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Internal Linking"
                                              data-content="Internal linking gives your visitors quick access to related content on your website. This is considered good coding practice and helps the bots to crawl and cross refernce your site easily. Internal links are considered to provide value to your visitors and improves your site ranking.">
                                Internal Linking
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Page Speed Optimisation"
                                              data-content="Page spped is another very important factor in SEO. There is alot too this. Your CSS, html and javascript files should all be minified and cached to ensure the smallest file sizes for transfer. Your CSS files should all be compiled into one file, which reduces server requests. The fewer server requests you have, the faster your site will be. Where possible your javascript functions should load asynchronously so that your funtions load after your content has rendered. Visitors have very limited patience with slow websites, retaining traffic takes a fast site. Your choice of web host and Content Delivery Network play a very important role in page spped too.">
                                Page Speed Optimisation
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="404 Page Not Found improvements"
                                              data-content="Your usual Page Not Found page should have links on it that will allow visitors quick access back to your content.">
                                404 Page Not Found improvements
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="SSL Certificates"
                                              data-content="SSL is becoming a big factor in search engine optimisation. Google now allocates page rank points to sites that do have SSL. We have a variety of SSL certificates available, from basic to massive enterprize grade SSL.">
                                SSL Certificates
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Privacy Policy Build and integration"
                                              data-content="Google looks for your Privacy Policy. These policies must cover a number of important points, like whether you market to children, how you handle cookies, what you do with visitor data, etc. We draft professional Privacy Policies for our advanced SEO packages.">
                                Privacy Policy Build and integration
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Spam Protecting Forms"
                                              data-content="We help protect your website by employing spam protection to your forms through Google Recaptcha and honeypots on your forms. Another benefit is that search engines look at this too.">
                                Spam Protecting Forms
                            </a>
                        </li>

                        <s><li class="reddot s"><a class="seo-popover" data-toggle="popover"
                                              title="Competitor Analysis"
                                              data-content="We look at the other websites that are competing for the same keywords as you and build your strategy to beat your competition. This service is only available to our monthly advanced seo packages.">
                                Competitor Analysis
                            </a>
                        </li></s>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="New Content SEO Writing"
                                              data-content="On our monthly search engine optimisation packages we will optimise all your new content that is published on the site.">
                                New Content SEO Writing
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Inbound Link Building"
                                              data-content="This is one of the most important aspects of SEO, Search engines look at the amount of referrals to your website from other websites and also to the quality of the source. A link from an authority site is far more valuable than a link from an unknown website. We do this for all our SEO packages, but on our monthly search engine optimisation packages we continuously build more links to your site, increasing the value of this method ten fold.">
                                Inbound Link Building
                            </a>
                        </li>

                        <s><li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Analytics Data analysis and reporting"
                                              data-content="We offer this only for our monthly SEO oackages. We look at your analytics data and interpret it for you, bringing out the highlights that will influence the strategy that you should take to improve your SEO and fully utilise your organic traffic to gain conversions. At the end of the dat it's not about how many visitors you have, bt about getting the right visitors and converting them into customers.">
                                Analytics Data analysis and reporting
                            </a>
                        </li></s>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Error reporting and correction"
                                              data-content="We monitor your webmaster tools accounts for any errors or problems that may come up in your seo build and immediately report on these and take action to correct them.">
                                Error reporting and correction
                            </a>
                        </li>
                        <s><li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Page Rank Reports from Google"
                                              data-content="For our monthly SEO packages we monitor your page rank for your various content pages and report on these so that you can see exactly where your high performing pages are. This insight can help you take important strategy decisions">
                                Page Rank Reports from Google
                            </a>
                        </li></s>

                        <s><li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Adwords Campaign Management"
                                              data-content="Money talks! For our monthly SEO packages, we build and maintain a Google Adwords campaign to promote your most important content through Google Adwords.">
                                Adwords Campaign Management
                            </a>
                        </li></s>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 no-gutter custom-border">
                <div class="text-white bg-danger p-2 text-center">
                    <h4>Advanced <small>Monthly</small></h4>
                </div>
                <div class="text-center">
                    <h4><small class="black-text">R</small> <span class="text-danger"> 2400</span> <small class="black-text">per month</small></h4>
                    <hr />
                </div>
                <div class="seo-list">
                    <ul>
                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Off-Site SEO Setup"
                                              data-content="Off Site SEO is completed on other websites that directly benefit your site page rank score.">
                                <strong>Off-Site SEO Setup</strong>
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Google Webmaster Tools"
                                              data-content="Google Webmaster Tools is Google's toolbox for website administrators to get analytics, spam protection for forms, Search Console Tools and more!  ">
                                Google Webmaster Tools
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Google Plus and Google Places"
                                              data-content="Google Plus is a business oriented media sharing platform that is becoming more and more advanced. Google now directly markets businesses listed on these platforms via mobile and through gmail based on Geo-Location. This can open a great entry point to reach people in your area. This is also where you get registered on Google Maps">
                                Google Plus and Google Places
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Google Search Console"
                                              data-content="We register your website with Google Search Console where we can register your sitemap and control how google spiders trawl your website. Here we help Google make sense of your website through Schema information.">
                                Google Search Console
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Google Analytics"
                                              data-content="We register your site with Google analytics, where you can get accurate statistics and insights into your site traffic. This information can prove invaluable if harnessed properly.">
                                Google Analytics
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Bing/Yahoo Webmaster Tools"
                                              data-content="Registration with Bing gives you listings on Bing, Yahoo, MSN, Altavista and alltheweb.com">
                                Bing/Yahoo Webmaster Tools
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Web9 Site registration"
                                              data-content="Web9.co.za is a purely South African Search engine that is very powerful and is growing rapidly. If you want to find something purely South African, Web9 is the place to go.">
                                Web9 Site registration
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Ananzi Site & Directory"
                                              data-content="Ananzi is another popular South African business directory and search engine. It's been around for a whilst!">
                                Ananzi Site & Directory
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Curlie Directory (Formerly Dmoz)"
                                              data-content="Curlie is the group that has taken over DMOZ, which was a volunteer group that attempted to list every business website on the internet. The task proved to be too much for them and now Curlie has taken over the task. A listing on this directory is very valuable from an SEO viewpoint. An inbound link from an authority site improves your site ranking greatly.">
                                Curlie Directory (Formerly Dmoz)
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Braby's Site Submission"
                                              data-content="Brady's is another South African search engine and business directory. They've been around for years but never really took off in a big way. Still a valuable business listing.">
                                Braby's Site Submission
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Funnel Site Submission"
                                              data-content="Funnel.co.za is yet another search engine for South Afican businesses. A listing from them is a great inbound link from an authrity site and a valuable source of organic traffic.">
                                Funnel Site Submission
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Blacklist checking and correcting"
                                              data-content="We check to make sure that your website and your web host have no penalties against them with Bing and Google and make direct contact with them if there is a problem to correct it. Our hosting is whitelisted and we maintain that rigourously.">
                                Blacklist checking and correcting
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="On-Site SEO Setup"
                                              data-content="On-Site seo is work that we do on your website in order to effectively communicate with the search engine bots that crawl your website so that they can understand your content and know where to list you.">
                                <strong>On-Site SEO Setup</strong>
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Social Media Integration"
                                              data-content="We link your website with your various Social Media profiles and add like and share features to generate activity from the website to your social profiles and vice versa. This is one of the most important aspects of customer engagement and search engine optimisation.">
                                Social Media Integration
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Meta Data Setup"
                                              data-content="Meta data influences many features and aspects of your website, including not only your keyword setup, but how the various social media sites and browsers can display and interact with your website. At present we utilise 34 different indespensible meta tag lines.">
                                Meta Data Setup
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Sitemaps build and submission"
                                              data-content="Sitemaps are an xml file that list each and every page and post and category and image on your website. These files are very important and cannot have a single error or ommission. We take extreme care in building aand testing these files.">
                                Sitemaps build and submission
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="robots.txt"
                                              data-content="robots.txt is a file with a very specific format that tells search engine bots how to crawl your website. These are a small yet very important part of your SEO build.">
                                robots.txt
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="URL re-writing"
                                              data-content="Search engines like urls that reflect your keywords and avoid stop words and unfriendly characters. Having /index.php? in the middle of your url for instance is a definite no. This is great seo focal point.">
                                URL re-writing
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Keyword / Phrase Research"
                                              data-content="Using Google trends we find out who has been searching for what and where. Then we look at the competition for those keywords and we find a phrase that matches your content, where there is great traffic and the competition is not too strong (in a nutshell).">
                                Keyword / Phrase Research
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Page keyword optimisation"
                                              data-content="Your page title, url, image tags, headings and content used on each page should match the keyword phrase listed in your meta tags. This is what is meant by optimisation. There's more too it, like ensuring that your content is readable. That your sentenses are not too long and that there is enough content. There should be outbound links, but those should be marked as nofollow, so that the bots don't exit your page too early.">
                                Page keyword optimisation
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Code Error Testing"
                                              data-content="I can't stress enough how important it is that there are NO errors in your HTML and Javascript. These can cause errors in the rendering of your page and in how the bots crawl your site and will lead to your content not being indexed and listed. We test thouroughly for all errors and fix them.">
                                Code Error Testing
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Broken Links Checking"
                                              data-content="Bots and Spiders look at every link in your content and get confused by broken links. Broken links occur when a site that you have linked to either change their URL's or remove the content you have linked to. In our monthly SEO packages we scan your site to test each link and either remove or repair every broken link.">
                                Broken Links Checking
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Internal Linking"
                                              data-content="Internal linking gives your visitors quick access to related content on your website. This is considered good coding practice and helps the bots to crawl and cross refernce your site easily. Internal links are considered to provide value to your visitors and improves your site ranking.">
                                Internal Linking
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Page Speed Optimisation"
                                              data-content="Page spped is another very important factor in SEO. There is alot too this. Your CSS, html and javascript files should all be minified and cached to ensure the smallest file sizes for transfer. Your CSS files should all be compiled into one file, which reduces server requests. The fewer server requests you have, the faster your site will be. Where possible your javascript functions should load asynchronously so that your funtions load after your content has rendered. Visitors have very limited patience with slow websites, retaining traffic takes a fast site. Your choice of web host and Content Delivery Network play a very important role in page spped too.">
                                Page Speed Optimisation
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="404 Page Not Found improvements"
                                              data-content="Your usual Page Not Found page should have links on it that will allow visitors quick access back to your content.">
                                404 Page Not Found improvements
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="SSL Certificates"
                                              data-content="SSL is becoming a big factor in search engine optimisation. Google now allocates page rank points to sites that do have SSL. We have a variety of SSL certificates available, from basic to massive enterprize grade SSL.">
                                SSL Certificates
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Privacy Policy Build and integration"
                                              data-content="Google looks for your Privacy Policy. These policies must cover a number of important points, like whether you market to children, how you handle cookies, what you do with visitor data, etc. We draft professional Privacy Policies for our advanced SEO packages.">
                                Privacy Policy Build and integration
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Spam Protecting Forms"
                                              data-content="We help protect your website by employing spam protection to your forms through Google Recaptcha and honeypots on your forms. Another benefit is that search engines look at this too.">
                                Spam Protecting Forms
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Competitor Analysis"
                                              data-content="We look at the other websites that are competing for the same keywords as you and build your strategy to beat your competition. This service is only available to our monthly advanced seo packages.">
                                Competitor Analysis
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="New Content SEO Writing"
                                              data-content="On our monthly search engine optimisation packages we will optimise all your new content that is published on the site.">
                                New Content SEO Writing
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Inbound Link Building"
                                              data-content="This is one of the most important aspects of SEO, Search engines look at the amount of referrals to your website from other websites and also to the quality of the source. A link from an authority site is far more valuable than a link from an unknown website. We do this for all our SEO packages, but on our monthly search engine optimisation packages we continuously build more links to your site, increasing the value of this method ten fold.">
                                Inbound Link Building
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Analytics Data analysis and reporting"
                                              data-content="We offer this only for our monthly SEO oackages. We look at your analytics data and interpret it for you, bringing out the highlights that will influence the strategy that you should take to improve your SEO and fully utilise your organic traffic to gain conversions. At the end of the dat it's not about how many visitors you have, bt about getting the right visitors and converting them into customers.">
                                Analytics Data analysis and reporting
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Error reporting and correction"
                                              data-content="We monitor your webmaster tools accounts for any errors or problems that may come up in your seo build and immediately report on these and take action to correct them.">
                                Error reporting and correction
                            </a>
                        </li>
                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Page Rank Reports from Google"
                                              data-content="For our monthly SEO packages we monitor your page rank for your various content pages and report on these so that you can see exactly where your high performing pages are. This insight can help you take important strategy decisions">
                                Page Rank Reports from Google
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Adwords Campaign Management"
                                              data-content="Money talks! For our monthly SEO packages, we build and maintain a Google Adwords campaign to promote your most important content through Google Adwords.">
                                Adwords Campaign Management
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 no-gutter custom-border">
                <div class="text-white bg-danger p-2 text-center">
                    <h4>Basic <small>Once Off</small></h4>
                </div>
                <div class="text-center">
                    <h4><small class="black-text">R</small><span class="text-danger"> 3500</span> <small class="black-text">Once Off</small></h4>
                    <hr />
                </div>
                <div class="seo-list">
                    <ul>
                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Off-Site SEO Setup"
                                              data-content="Off Site SEO is completed on other websites that directly benefit your site page rank score.">
                                <strong>Off-Site SEO Setup</strong>
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Google Webmaster Tools"
                                              data-content="Google Webmaster Tools is Google's toolbox for website administrators to get analytics, spam protection for forms, Search Console Tools and more!  ">
                                Google Webmaster Tools
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Google Plus and Google Places"
                                              data-content="Google Plus is a business oriented media sharing platform that is becoming more and more advanced. Google now directly markets businesses listed on these platforms via mobile and through gmail based on Geo-Location. This can open a great entry point to reach people in your area. This is also where you get registered on Google Maps">
                                Google Plus and Google Places
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Google Search Console"
                                              data-content="We register your website with Google Search Console where we can register your sitemap and control how google spiders trawl your website. Here we help Google make sense of your website through Schema information.">
                                Google Search Console
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Google Analytics"
                                              data-content="We register your site with Google analytics, where you can get accurate statistics and insights into your site traffic. This information can prove invaluable if harnessed properly.">
                                Google Analytics
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Bing/Yahoo Webmaster Tools"
                                              data-content="Registration with Bing gives you listings on Bing, Yahoo, MSN, Altavista and alltheweb.com">
                                Bing/Yahoo Webmaster Tools
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Web9 Site registration"
                                              data-content="Web9.co.za is a purely South African Search engine that is very powerful and is growing rapidly. If you want to find something purely South African, Web9 is the place to go.">
                                Web9 Site registration
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Ananzi Site & Directory"
                                              data-content="Ananzi is another popular South African business directory and search engine. It's been around for a whilst!">
                                Ananzi Site & Directory
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Curlie Directory (Formerly Dmoz)"
                                              data-content="Curlie is the group that has taken over DMOZ, which was a volunteer group that attempted to list every business website on the internet. The task proved to be too much for them and now Curlie has taken over the task. A listing on this directory is very valuable from an SEO viewpoint. An inbound link from an authority site improves your site ranking greatly.">
                                Curlie Directory (Formerly Dmoz)
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Braby's Site Submission"
                                              data-content="Brady's is another South African search engine and business directory. They've been around for years but never really took off in a big way. Still a valuable business listing.">
                                Braby's Site Submission
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Funnel Site Submission"
                                              data-content="Funnel.co.za is yet another search engine for South Afican businesses. A listing from them is a great inbound link from an authrity site and a valuable source of organic traffic.">
                                Funnel Site Submission
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Blacklist checking and correcting"
                                              data-content="We check to make sure that your website and your web host have no penalties against them with Bing and Google and make direct contact with them if there is a problem to correct it. Our hosting is whitelisted and we maintain that rigourously.">
                                Blacklist checking and correcting
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="On-Site SEO Setup"
                                              data-content="On-Site seo is work that we do on your website in order to effectively communicate with the search engine bots that crawl your website so that they can understand your content and know where to list you.">
                                <strong>On-Site SEO Setup</strong>
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Social Media Integration"
                                              data-content="We link your website with your various Social Media profiles and add like and share features to generate activity from the website to your social profiles and vice versa. This is one of the most important aspects of customer engagement and search engine optimisation.">
                                Social Media Integration
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Meta Data Setup"
                                              data-content="Meta data influences many features and aspects of your website, including not only your keyword setup, but how the various social media sites and browsers can display and interact with your website. At present we utilise 34 different indespensible meta tag lines.">
                                Meta Data Setup
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Sitemaps build and submission"
                                              data-content="Sitemaps are an xml file that list each and every page and post and category and image on your website. These files are very important and cannot have a single error or ommission. We take extreme care in building aand testing these files.">
                                Sitemaps build and submission
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="robots.txt"
                                              data-content="robots.txt is a file with a very specific format that tells search engine bots how to crawl your website. These are a small yet very important part of your SEO build.">
                                robots.txt
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="URL re-writing"
                                              data-content="Search engines like urls that reflect your keywords and avoid stop words and unfriendly characters. Having /index.php? in the middle of your url for instance is a definite no. This is great seo focal point.">
                                URL re-writing
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Keyword / Phrase Research"
                                              data-content="Using Google trends we find out who has been searching for what and where. Then we look at the competition for those keywords and we find a phrase that matches your content, where there is great traffic and the competition is not too strong (in a nutshell).">
                                Keyword / Phrase Research
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Page keyword optimisation"
                                              data-content="Your page title, url, image tags, headings and content used on each page should match the keyword phrase listed in your meta tags. This is what is meant by optimisation. There's more too it, like ensuring that your content is readable. That your sentenses are not too long and that there is enough content. There should be outbound links, but those should be marked as nofollow, so that the bots don't exit your page too early.">
                                Page keyword optimisation
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Code Error Testing"
                                              data-content="I can't stress enough how important it is that there are NO errors in your HTML and Javascript. These can cause errors in the rendering of your page and in how the bots crawl your site and will lead to your content not being indexed and listed. We test thouroughly for all errors and fix them.">
                                Code Error Testing
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Broken Links Checking"
                                              data-content="Bots and Spiders look at every link in your content and get confused by broken links. Broken links occur when a site that you have linked to either change their URL's or remove the content you have linked to. In our monthly SEO packages we scan your site to test each link and either remove or repair every broken link.">
                                Broken Links Checking
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Internal Linking"
                                              data-content="Internal linking gives your visitors quick access to related content on your website. This is considered good coding practice and helps the bots to crawl and cross refernce your site easily. Internal links are considered to provide value to your visitors and improves your site ranking.">
                                Internal Linking
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Page Speed Optimisation"
                                              data-content="Page spped is another very important factor in SEO. There is alot too this. Your CSS, html and javascript files should all be minified and cached to ensure the smallest file sizes for transfer. Your CSS files should all be compiled into one file, which reduces server requests. The fewer server requests you have, the faster your site will be. Where possible your javascript functions should load asynchronously so that your funtions load after your content has rendered. Visitors have very limited patience with slow websites, retaining traffic takes a fast site. Your choice of web host and Content Delivery Network play a very important role in page spped too.">
                                Page Speed Optimisation
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="404 Page Not Found improvements"
                                              data-content="Your usual Page Not Found page should have links on it that will allow visitors quick access back to your content.">
                                404 Page Not Found improvements
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="SSL Certificates"
                                              data-content="SSL is becoming a big factor in search engine optimisation. Google now allocates page rank points to sites that do have SSL. We have a variety of SSL certificates available, from basic to massive enterprize grade SSL.">
                                SSL Certificates
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Privacy Policy Build and integration"
                                              data-content="Google looks for your Privacy Policy. These policies must cover a number of important points, like whether you market to children, how you handle cookies, what you do with visitor data, etc. We draft professional Privacy Policies for our advanced SEO packages.">
                                Privacy Policy Build and integration
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Spam Protecting Forms"
                                              data-content="We help protect your website by employing spam protection to your forms through Google Recaptcha and honeypots on your forms. Another benefit is that search engines look at this too.">
                                Spam Protecting Forms
                            </a>
                        </li>

                        <s><li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Competitor Analysis"
                                              data-content="We look at the other websites that are competing for the same keywords as you and build your strategy to beat your competition. This service is only available to our monthly advanced seo packages.">
                                Competitor Analysis
                            </a>
                        </li></s>

                        <s><li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="New Content SEO Writing"
                                              data-content="On our monthly search engine optimisation packages we will optimise all your new content that is published on the site.">
                                New Content SEO Writing
                            </a>
                        </li></s>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Inbound Link Building"
                                              data-content="This is one of the most important aspects of SEO, Search engines look at the amount of referrals to your website from other websites and also to the quality of the source. A link from an authority site is far more valuable than a link from an unknown website. We do this for all our SEO packages, but on our monthly search engine optimisation packages we continuously build more links to your site, increasing the value of this method ten fold.">
                                Inbound Link Building
                            </a>
                        </li>

                        <s><li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Analytics Data analysis and reporting"
                                              data-content="We offer this only for our monthly SEO oackages. We look at your analytics data and interpret it for you, bringing out the highlights that will influence the strategy that you should take to improve your SEO and fully utilise your organic traffic to gain conversions. At the end of the dat it's not about how many visitors you have, bt about getting the right visitors and converting them into customers.">
                                Analytics Data analysis and reporting
                            </a>
                        </li></s>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Error reporting and correction"
                                              data-content="We monitor your webmaster tools accounts for any errors or problems that may come up in your seo build and immediately report on these and take action to correct them.">
                                Error reporting and correction
                            </a>
                        </li>
                        <s><li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Page Rank Reports from Google"
                                              data-content="For our monthly SEO packages we monitor your page rank for your various content pages and report on these so that you can see exactly where your high performing pages are. This insight can help you take important strategy decisions">
                                Page Rank Reports from Google
                            </a>
                        </li></s>

                        <s><li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Adwords Campaign Management"
                                              data-content="Money talks! For our monthly SEO packages, we build and maintain a Google Adwords campaign to promote your most important content through Google Adwords.">
                                Adwords Campaign Management
                            </a>
                        </li></s>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 no-gutter custom-border">
                <div class="text-white bg-danger p-2 text-center">
                    <h4>Advanced <small>Once Off</small></h4>
                </div>
                <div class="text-center">
                    <h4><small class="black-text">R</small> <span class="text-danger"> 8000</span> <small class="black-text">Once Off</small></h4>
                    <hr />
                </div>
                <div class="seo-list">
                    <ul>
                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Off-Site SEO Setup"
                                              data-content="Off Site SEO is completed on other websites that directly benefit your site page rank score.">
                                <strong>Off-Site SEO Setup</strong>
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Google Webmaster Tools"
                                              data-content="Google Webmaster Tools is Google's toolbox for website administrators to get analytics, spam protection for forms, Search Console Tools and more!  ">
                                Google Webmaster Tools
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Google Plus and Google Places"
                                              data-content="Google Plus is a business oriented media sharing platform that is becoming more and more advanced. Google now directly markets businesses listed on these platforms via mobile and through gmail based on Geo-Location. This can open a great entry point to reach people in your area. This is also where you get registered on Google Maps">
                                Google Plus and Google Places
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Google Search Console"
                                              data-content="We register your website with Google Search Console where we can register your sitemap and control how google spiders trawl your website. Here we help Google make sense of your website through Schema information.">
                                Google Search Console
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Google Analytics"
                                              data-content="We register your site with Google analytics, where you can get accurate statistics and insights into your site traffic. This information can prove invaluable if harnessed properly.">
                                Google Analytics
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Bing/Yahoo Webmaster Tools"
                                              data-content="Registration with Bing gives you listings on Bing, Yahoo, MSN, Altavista and alltheweb.com">
                                Bing/Yahoo Webmaster Tools
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Web9 Site registration"
                                              data-content="Web9.co.za is a purely South African Search engine that is very powerful and is growing rapidly. If you want to find something purely South African, Web9 is the place to go.">
                                Web9 Site registration
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Ananzi Site & Directory"
                                              data-content="Ananzi is another popular South African business directory and search engine. It's been around for a whilst!">
                                Ananzi Site & Directory
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Curlie Directory (Formerly Dmoz)"
                                              data-content="Curlie is the group that has taken over DMOZ, which was a volunteer group that attempted to list every business website on the internet. The task proved to be too much for them and now Curlie has taken over the task. A listing on this directory is very valuable from an SEO viewpoint. An inbound link from an authority site improves your site ranking greatly.">
                                Curlie Directory (Formerly Dmoz)
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Braby's Site Submission"
                                              data-content="Brady's is another South African search engine and business directory. They've been around for years but never really took off in a big way. Still a valuable business listing.">
                                Braby's Site Submission
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Funnel Site Submission"
                                              data-content="Funnel.co.za is yet another search engine for South Afican businesses. A listing from them is a great inbound link from an authrity site and a valuable source of organic traffic.">
                                Funnel Site Submission
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Blacklist checking and correcting"
                                              data-content="We check to make sure that your website and your web host have no penalties against them with Bing and Google and make direct contact with them if there is a problem to correct it. Our hosting is whitelisted and we maintain that rigourously.">
                                Blacklist checking and correcting
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="On-Site SEO Setup"
                                              data-content="On-Site seo is work that we do on your website in order to effectively communicate with the search engine bots that crawl your website so that they can understand your content and know where to list you.">
                                <strong>On-Site SEO Setup</strong>
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Social Media Integration"
                                              data-content="We link your website with your various Social Media profiles and add like and share features to generate activity from the website to your social profiles and vice versa. This is one of the most important aspects of customer engagement and search engine optimisation.">
                                Social Media Integration
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Meta Data Setup"
                                              data-content="Meta data influences many features and aspects of your website, including not only your keyword setup, but how the various social media sites and browsers can display and interact with your website. At present we utilise 34 different indespensible meta tag lines.">
                                Meta Data Setup
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Sitemaps build and submission"
                                              data-content="Sitemaps are an xml file that list each and every page and post and category and image on your website. These files are very important and cannot have a single error or ommission. We take extreme care in building aand testing these files.">
                                Sitemaps build and submission
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="robots.txt"
                                              data-content="robots.txt is a file with a very specific format that tells search engine bots how to crawl your website. These are a small yet very important part of your SEO build.">
                                robots.txt
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="URL re-writing"
                                              data-content="Search engines like urls that reflect your keywords and avoid stop words and unfriendly characters. Having /index.php? in the middle of your url for instance is a definite no. This is great seo focal point.">
                                URL re-writing
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Keyword / Phrase Research"
                                              data-content="Using Google trends we find out who has been searching for what and where. Then we look at the competition for those keywords and we find a phrase that matches your content, where there is great traffic and the competition is not too strong (in a nutshell).">
                                Keyword / Phrase Research
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Page keyword optimisation"
                                              data-content="Your page title, url, image tags, headings and content used on each page should match the keyword phrase listed in your meta tags. This is what is meant by optimisation. There's more too it, like ensuring that your content is readable. That your sentenses are not too long and that there is enough content. There should be outbound links, but those should be marked as nofollow, so that the bots don't exit your page too early.">
                                Page keyword optimisation
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Code Error Testing"
                                              data-content="I can't stress enough how important it is that there are NO errors in your HTML and Javascript. These can cause errors in the rendering of your page and in how the bots crawl your site and will lead to your content not being indexed and listed. We test thouroughly for all errors and fix them.">
                                Code Error Testing
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Broken Links Checking"
                                              data-content="Bots and Spiders look at every link in your content and get confused by broken links. Broken links occur when a site that you have linked to either change their URL's or remove the content you have linked to. In our monthly SEO packages we scan your site to test each link and either remove or repair every broken link.">
                                Broken Links Checking
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Internal Linking"
                                              data-content="Internal linking gives your visitors quick access to related content on your website. This is considered good coding practice and helps the bots to crawl and cross refernce your site easily. Internal links are considered to provide value to your visitors and improves your site ranking.">
                                Internal Linking
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Page Speed Optimisation"
                                              data-content="Page spped is another very important factor in SEO. There is alot too this. Your CSS, html and javascript files should all be minified and cached to ensure the smallest file sizes for transfer. Your CSS files should all be compiled into one file, which reduces server requests. The fewer server requests you have, the faster your site will be. Where possible your javascript functions should load asynchronously so that your funtions load after your content has rendered. Visitors have very limited patience with slow websites, retaining traffic takes a fast site. Your choice of web host and Content Delivery Network play a very important role in page spped too.">
                                Page Speed Optimisation
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="404 Page Not Found improvements"
                                              data-content="Your usual Page Not Found page should have links on it that will allow visitors quick access back to your content.">
                                404 Page Not Found improvements
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="SSL Certificates"
                                              data-content="SSL is becoming a big factor in search engine optimisation. Google now allocates page rank points to sites that do have SSL. We have a variety of SSL certificates available, from basic to massive enterprize grade SSL.">
                                SSL Certificates
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Privacy Policy Build and integration"
                                              data-content="Google looks for your Privacy Policy. These policies must cover a number of important points, like whether you market to children, how you handle cookies, what you do with visitor data, etc. We draft professional Privacy Policies for our advanced SEO packages.">
                                Privacy Policy Build and integration
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Spam Protecting Forms"
                                              data-content="We help protect your website by employing spam protection to your forms through Google Recaptcha and honeypots on your forms. Another benefit is that search engines look at this too.">
                                Spam Protecting Forms
                            </a>
                        </li>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Competitor Analysis"
                                              data-content="We look at the other websites that are competing for the same keywords as you and build your strategy to beat your competition. This service is only available to our monthly advanced seo packages.">
                                Competitor Analysis
                            </a>
                        </li>

                        <s><li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="New Content SEO Writing"
                                              data-content="On our monthly search engine optimisation packages we will optimise all your new content that is published on the site.">
                                New Content SEO Writing
                            </a>
                        </li></s>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Inbound Link Building"
                                              data-content="This is one of the most important aspects of SEO, Search engines look at the amount of referrals to your website from other websites and also to the quality of the source. A link from an authority site is far more valuable than a link from an unknown website. We do this for all our SEO packages, but on our monthly search engine optimisation packages we continuously build more links to your site, increasing the value of this method ten fold.">
                                Inbound Link Building
                            </a>
                        </li>

                        <s><li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Analytics Data analysis and reporting"
                                              data-content="We offer this only for our monthly SEO oackages. We look at your analytics data and interpret it for you, bringing out the highlights that will influence the strategy that you should take to improve your SEO and fully utilise your organic traffic to gain conversions. At the end of the dat it's not about how many visitors you have, bt about getting the right visitors and converting them into customers.">
                                Analytics Data analysis and reporting
                            </a>
                        </li></s>

                        <li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Error reporting and correction"
                                              data-content="We monitor your webmaster tools accounts for any errors or problems that may come up in your seo build and immediately report on these and take action to correct them.">
                                Error reporting and correction
                            </a>
                        </li>
                        <s><li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Page Rank Reports from Google"
                                              data-content="For our monthly SEO packages we monitor your page rank for your various content pages and report on these so that you can see exactly where your high performing pages are. This insight can help you take important strategy decisions">
                                Page Rank Reports from Google
                            </a>
                        </li></s>

                        <s><li class="reddot"><a class="seo-popover" data-toggle="popover"
                                              title="Adwords Campaign Management"
                                              data-content="Money talks! For our monthly SEO packages, we build and maintain a Google Adwords campaign to promote your most important content through Google Adwords.">
                                Adwords Campaign Management
                            </a>
                        </li></s>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block scripts %}{% endblock scripts %}



