{% extends 'index.twig' %}

{% block head %}{% endblock head %}

{% block body %}
<section id="startup-header">
<div class="container">
    <div class="row">

    </div>
</div>
</section>




{% endblock body %}

{% block scripts %}{% endblock scripts %}