.move-top {
  position: fixed;
  bottom: 50px;
  right: 100px;
  display: none;
  width:40px;
}
footer li a {
  color: #B4B4B4 !important;
}
footer li a:hover {
  color: #d6d6d6 !important;
  font-weight: 600;
}