@include media-breakpoint-up(lg) {
  .dropdown-menu.show {
    display: block;
    margin-top: 76px;
    float: left;
    position: fixed !important;
    left: 0;
    top: 0;
    right: 0;
    margin-right: 45px;
    margin-left: 45px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.nav-item {
  border-radius: 5px;
}

.nav-active {
  background-color: $danger;
  color: $white !important;
  border-radius: 30px;
  padding-left: 10px !important;
  -webkit-transition: border-radius 1s ease;
  -moz-transition: border-radius 1s ease;
  -o-transition: border-radius 1s ease;
  transition: border-radius 1s ease;
}
.dropdown-item {
  margin-top:7px;
}
.dropdown-item.nav-active {
  padding: .25rem 1.5rem !important;

}
.dropdown-item.nav-active:hover {
  color: #333333 !important;
}
