{% extends 'user_index.twig' %}
    {% block body %}
    <form id="login-form" class="user" action="{{ site.admin }}php/login.php" method="post" role="form" data-toggle="validator">
        <div class="messages"></div>
        <div class="form-group">
            <input type="email" class="form-control form-control-user" id="email" name="email" placeholder="email@address.com" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Password Please" required="required">
        </div>
        <button type="submit" id="submit" class="btn btn-success btn-send">Login</button>
    </form>
    {% endblock %}
    {% block scripts %}
        <script type="text/javascript" src="{{ site.admin }}js/login.min.js"></script>
    {% endblock %}